body {
  margin: 0;
}

.dashboard-wrapper {
  min-height: 100vh;
  background: radial-gradient(circle at top, #1e3a8a, #0f172a);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.dashboard-card {
  width: 310px;
  padding: 32px 22px;
  border-radius: 20px;
  background: rgba(17, 24, 39, 0.9);
  box-shadow:
    0 25px 60px rgba(0,0,0,0.6),
    0 0 30px rgba(59,130,246,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

/* Header */
.school-title {
  font-size: 21px;
  font-weight: 700;
  color: #93c5fd;
  margin: 0;
}

.school-logo {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid #3b82f6;
}

.admin-sub {
  font-size: 13px;
  color: #cbd5e1;
  margin: 0;
}

/* Input Block */
.input-block {
  width: 100%;
  position: relative;
}

input, select {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: 1px solid #334155;
  background: #1e293b;
  color: #f1f5f9;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

input:focus, select:focus {
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59,130,246,0.2);
}

/* Dropdown */
.search-dropdown {
  position: absolute;
  top: 55px;
  width: 100%;
  background: #1e293b;
  border-radius: 12px;
  max-height: 190px;
  overflow-y: auto;
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
  border: 1px solid #334155;
  z-index: 200;
}

.search-item {
  padding: 11px 14px;
  font-size: 13px;
  color: #e2e8f0;
  cursor: pointer;
  transition: 0.2s;
}

.search-item:hover {
  background: linear-gradient(90deg, #2563eb, #1d4ed8);
  color: white;
}

/* Buttons */
.primary-btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  background: linear-gradient(135deg, #2563eb, #1e40af);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(37,99,235,0.4);
}

.logout-btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  background: linear-gradient(135deg, #dc2626, #7f1d1d);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(220,38,38,0.4);
}

.search{
  width: 92%;
}
