.result-wrapper {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.result-card {
  width: 700px;
  padding: 30px;
  border: 2px solid #000;
  text-align: center;
  background: #fff;
}

.logo {
  width: 90px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #000;
  padding: 8px;
}

.summary {
  margin-top: 20px;
  font-weight: bold;
}

.print-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #16a34a;
  color: white;
  border: none;
  cursor: pointer;
}

.contact {
  margin-top: 20px;
  font-weight: bold;
}
